.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
}

.card{
    width: 80%;
    padding: 5px;
    margin-left: 5%;
    font-size: 20px;
}

.button-row{
    margin: 20px;
    display: flex;
    justify-content: end;
}

.button{
    margin: 20px;
}