<div>
    <mat-list *ngFor="let student of students">
        <mat-list-item>
            <mat-card class="card">
                <div class="row">
                    <div class="row"> 
                        <mat-checkbox style="padding: 9px;"></mat-checkbox>
                        <p >{{student.student_id}}</p>
                    </div>
                    <div class="row">
                        <mat-checkbox style="padding: 9px;" disabled="true" checked={{student.needs_tutoring}}></mat-checkbox>
                        <div >
                            <mat-icon  style="padding: 17px; color: gray;" 
                            matTooltip="Based on our machine learning algorithm, students with similar grades to
                            to this have improved a letter grade by getting tutoring for this class">help</mat-icon>
                        </div>
                    </div>
                </div>
            </mat-card>
        </mat-list-item>
    </mat-list>
    <div class="button-row">
        <button mat-raised-button class="button">Send Selected</button>
        <button mat-raised-button class="button">Send All</button>
    </div>
</div>