<div>
    <mat-card class="card">
        <img class="image" src="../assets/pictures/Julia.jpeg" alt="Julia Takagi">
        <mat-card-title>Julia Takagi</mat-card-title>
        <mat-card-content>
            <p>Julia is a dual major with an international degree in software engineering and a U.S. 
                degree in software engineering. She currently works with MARKT-PILOT GmbH in the internal 
                software maintenance department. During her free time, she plays Minecraft and Cats & Soup. 
                She was in charge of the machine learning aspect of the STEMAI project.  
            </p>
        </mat-card-content>
    </mat-card>
    <mat-card class="card">
        <img class="image" src="../assets/pictures/Jake.jpg" alt="Jacob Rose">
        <mat-card-title>Jacob Rose</mat-card-title>
        <mat-card-content>
            <p>Jacob is a dual major with a software engineering and a computer science degree. 
                He currently works with Lockheed Martin as an intern. During his free time, he likes going
                on walks with Milo and working out. He was in charge of the backend development of our project. 
            </p>
        </mat-card-content>
    </mat-card>
    <mat-card class="card">
        <img class="image" src="../assets/pictures/Niky.JPG" alt="Nikoly Dos Santos">
        <mat-card-title>Nikoly Dos Santos</mat-card-title>
        <mat-card-content>
            <p>Nikoly is a dual major with a software engineering and a computer science degree.
                She currently works with Progressive insurance as an intern in their quoting department.
                During her free time, she likes listening to music and eating. She was in charge of 
                the frontend development of our project. 
            </p>
        </mat-card-content>
    </mat-card>
</div>
