<body>
<article>
  <div>
    <h2>Classes</h2>
    <mat-list *ngFor="let class of classes">
      <mat-list-item>
        <button mat-raised-button class="button" (click)="goToStudentPage(class.course_id, class.course_name)">{{class.course_name}}</button>
      </mat-list-item>
    </mat-list>
  </div>
</article>
<footer>
  <div id="footerBar"></div>
  <div style="padding: 20px">
    <p class="greytext" style="font-size: 24px; padding: 5px">Helpful Hint</p>
    <p class="greytext">Each panel represents one class you are teaching.
      Once you click on that class you will get a list of
      students. You can return to this page
      through the menu in the navigation bar.</p>
  </div>
</footer>
</body>




