.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
}

.card{
    width: 80%;
    padding: 5px;
    margin-left: 5%;
    font-size: 20px;
}

.button{
    height: 35px;
    position: absolute;
    right: 100px;
    top: 40px;
    background-color: lightgray;
}

.center{
    text-align: center;
}

.accordion{
    width: 85%;
    left: 10%;
    margin: 3%;
}

.welcome{
    text-align: center;
    left: 15px;
    display: inline-block;
    padding-left: 20px;
    padding-right: 20px;
}

.headers{
    padding-right: 250px;
    padding-left: 150px;
    background-color: rgb(198, 209, 157);
}

.example-spacer {
    flex: 1 1 auto;
  }

body{ min-height: 70vh; margin:0; }
body{ display:flex; flex-direction:column; }
article{ flex:1; }

.greytext{
  margin: 0 auto;
  color: #646871;
  width: 80%;
  text-align: center;
}

#footerBar {
  height: 1px;
  background: black;
  margin: 0 auto;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: .5em;
  }
  
  th,
  td {
    padding: 0.5em;
    border: 1px solid #ddd;
    font-size: 1.2em;
  }
  
  th {
    background-color: #f2f2f2;
    font-weight: bold;
    font-size: 1.4em;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
