.nav-bar{
    background-color: rgba(5, 5, 5, 0.856);
    -webkit-text-fill-color: white;
    justify-content: space-between;
    margin-bottom: 1%;
}

.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card{
    width: 80%;
    margin-left: 5%;
}