<body>
<article>
    <h2>Classes</h2>
    <mat-list *ngFor="let prediction of predictions">
      <mat-list-item>
        <mat-card class="card">
          <div class="row">
            <div class="row">
              <mat-icon style="padding: 17px;">book</mat-icon>
              <p > {{prediction.name}}  </p>
            </div>
            <div class="row">
              <button mat-raised-button class="button" (click)="openDialog()">WCOnline</button>
              <div *ngIf="prediction.prediction; else elseBlock">
                <mat-icon  style="padding: 17px; color: green;"
                           matTooltip="Based on our machine learning algorithm, students with similar grades to
                            you have improved a letter grade by getting tutoring for this class">star</mat-icon>
              </div>
              <ng-template #elseBlock>
                <mat-icon  style="padding-right: 17px;padding-top: 17px;padding-bottom: 17px; color: red;"
                           matTooltip="Our machine learning algorithm does not recommend tutoring for this class for you.
                            Tutoring could still be beneficial for you if you feel you are struggling.">close</mat-icon>
              </ng-template>
            </div>
          </div>
        </mat-card>
      </mat-list-item>
    </mat-list>
</article>
<footer>
  <div id="footerBar"></div>
  <div style="padding: 20px">
    <p class="greytext" style="font-size: 24px; padding: 5px">Helpful Hint</p>
    <p class="greytext">Each panel represents one class you are taking. The WCOnline
      button will open a popup that will redirect you to WcOnline if you
      click yes on the popup. The checkbox beside the WCOnline button
      tells you if our algorithm believes you would benefit from tutoring.
      If the checkbox is checked the algorithm believes you will benefit,
      otherwise it doesn't, but tutoring is always recommended.
      The question icon beside the checkbox explains the checkbox beside it.</p>
  </div>
</footer>
</body>

