.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
}

.card{
    width: 80%;
    padding: 5px;
    margin-left: 5%;
    font-size: 20px;
}

.button{
    height: 35px;
    position: absolute;
    right: 140px;
    top: 40px;
    background-color: lightgray;
}

.center{
    text-align: center;
}

.accordion{
    width: 85%;
    left: 10%;
    margin: 3%;
}