.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
}

.card{
    width: 80%;
    padding: 5px;
    margin-left: 5%;
    font-size: 20px;
}

.button{
    height: 35px;
    position: absolute;
    right: 140px;
    top: 40px;
    background-color: lightgray;
}

.center{
    text-align: center;
}

.accordion{
    width: 85%;
    left: 10%;
    margin: 3%;
}

.welcome{
    text-align: center;
    left: 15px;
    display: inline-block;
    padding-left: 20px;
    padding-right: 20px;
}

body{ min-height: 70vh; margin:0; }
body{ display:flex; flex-direction:column; }
article{ flex:1; }

.greytext{
  margin: 0 auto;
  color: #646871;
  width: 80%;
  text-align: center;
}

#footerBar {
  height: 1px;
  background: black;
  margin: 0 auto;
}
