<section>
    <mat-card class="card">
        <mat-divider></mat-divider>
        <mat-card-title class="center">User Info</mat-card-title>
        <mat-card-content >
            <mat-divider></mat-divider>
            <div>
                <form >
                    <mat-form-field class="input">
                        <mat-label>Gannon ID</mat-label>
                        <input matInput placeholder="Ex. smith001" [(ngModel)]="gannonID" name="gannonIDLabel">
                    </mat-form-field>
                </form>
            </div>
            <mat-divider></mat-divider>
            <div>
                <form >
                    <mat-form-field class="input">
                        <mat-label>ID Number</mat-label>
                        <input matInput placeholder="Ex. 123456" >
                    </mat-form-field>
                </form>
            </div>
            <mat-divider></mat-divider>
            <div class="row">
                <button mat-raised-button class="button" (click)="addProfessorUser()">
                    <mat-icon>school</mat-icon>
                    <p>Professor</p>
                </button>
                <button mat-raised-button class="button" (click)="addStudentUser()">
                    <mat-icon>auto_stories</mat-icon>
                    <p>Student</p>
                </button>
            </div>
            <mat-divider></mat-divider>
        </mat-card-content>
    </mat-card>
</section>
    