<section>
    <mat-card class="card">
        <h2 class="center">User Info</h2>
        <mat-card-content >
            <div class="row">
                <mat-checkbox id="Student" class="text">Student</mat-checkbox>
                <mat-checkbox id="Professor" class="text">Professor</mat-checkbox>
            </div>
            <button mat-raised-button class="button" (click)="goToPage('student-rec')">
                Continue
            </button>
        </mat-card-content>
    </mat-card>
</section>
    