.center{
    text-align: center;
}

.button{
    width: 20%;
    left: 39%;
    margin: 1%;
}

.row{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.card{
    width: 80%;
    margin: 10%;
}