<mat-card>
    <mat-card-title style="text-align: center; padding: 2%;">Helpful Resources</mat-card-title>
    <mat-card-content style="padding-bottom: 3%;">
        <div class="row">
            <mat-card class="card" >
                <mat-list style="margin-right: 70px;">
                    <mat-list-item>
                        <a href="https://library.gannon.edu/homepage" target="_blank">Go to Nash Library</a>
                    </mat-list-item>
                    <mat-list-item>
                        <a href="https://www.desmos.com/" target="_blank">Go to Desmos</a>
                    </mat-list-item>
                    <mat-list-item>
                        <a href="https://library.gannon.edu/WRC" target="_blank">Go to Writing Center Info Page</a>
                    </mat-list-item>
                    <mat-list-item>
                        <a href="https://www.homedepot.com/p/KOHLER-Highline-Arc-the-Complete-Solution-2-Piece-1-28-GPF-Single-Flush-Elongated-Toilet-in-Biscuit-Seat-Included-9-Pack-K-78279-9-96/317899685"
                        target="_blank">Toilet</a>
                    </mat-list-item>
                </mat-list>
            </mat-card>
            <mat-card class="card">
                <mat-list>
                    <mat-list-item>
                        <a href="https://gannon.mywconline.com/" target="_blank">Go to WCOnline</a>
                    </mat-list-item>
                    <mat-list-item>
                        <a href="https://www.samhsa.gov/suicide" target="_blank">Go to Suicide Hotline Site</a>
                    </mat-list-item>
                    <mat-list-item>
                        <a href="https://www.homedepot.com/p/KOHLER-Highline-Arc-the-Complete-Solution-2-Piece-1-28-GPF-Single-Flush-Elongated-Toilet-in-Biscuit-Seat-Included-9-Pack-K-78279-9-96/317899685"
                        target="_blank">Suicide Helpline Number: 1-800-273-8255</a>
                    </mat-list-item>
                    <mat-list-item>
                        <a href="https://www.boredbutton.com/" target="_blank">Bored and Don't Want to do Homework?</a>
                    </mat-list-item>
                </mat-list>
            </mat-card>
        </div>
    </mat-card-content>
</mat-card>