<h1 class="center">About Us</h1>
<mat-divider></mat-divider>
<mat-card class="card">
    <mat-card-content>
    The STEM Center is underutilized at Gannon University as most students do not know when they need tutoring. 
    In addition, many professors do not have a useful outlook on how students are doing until it is too late. 
    This results in students not engaging with tutors and student data that is being stored with no purpose. 
    For our senior project, we are creating a machine learning model that predicts students that need tutoring, 
    allowing them to get help from the STEM Center earlier. The second part of our project is creating an 
    application that will display to students their classes and which classes they require tutoring for. 
    Our goal is to increase utilization of tutors and bolster student outcomes in STEM courses.
    </mat-card-content>
</mat-card>