<header>
    <mat-toolbar class="main-nav" >
        <span>STEM AI</span>
        <button mat-icon-button >
            <mat-icon style="font-size: 30px;">menu</mat-icon>
        </button>
    </mat-toolbar>
</header>
<main class="body">
    <router-outlet></router-outlet>
</main>
<footer>
    <mat-toolbar class="footer">
        <div class="row">
            <button mat-button>Home</button>
            <button mat-button>About</button>
            <button mat-button>Team</button>
            <button mat-button>Contact Us</button>
        </div>
    </mat-toolbar>
</footer>