<header>
    <mat-toolbar class="main-nav" >
        <span>STEM AI</span>
        <button mat-icon-button >
            <mat-icon style="font-size: 30px;">menu</mat-icon>
        </button>
    </mat-toolbar>
</header>
<main class="container">
    <router-outlet></router-outlet>
</main>
<footer class="mt-auto">
    <mat-toolbar class="footer">
        <div class="row">
            <button mat-button (click)="goToPage('home-page')">Home</button>
            <button mat-button (click)="goToPage('about-page')">About</button>
            <button mat-button (click)="goToPage('team-page')">Team</button>
            <button mat-button (click)="goToPage('contact-page')">Contact Us</button>
        </div>
    </mat-toolbar>
</footer>