<header>
    <mat-toolbar class="main-nav" >
        <span>STEM-AI</span>
        <div>
            <button mat-button (click)="goToPage('home-page')">Home</button>
            <button mat-button (click)="goToPage('about-page')">About</button>
            <button mat-button (click)="goToPage('team-page')">Team</button>
            <button mat-button (click)="goToPage('contact-page')">Contact Us</button>
            <button mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon style="font-size: 30px;">menu</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="goToPage('login')">
                  <span>Login</span>
                </button>
                <button mat-menu-item (click)="goToPage('student-rec')" *ngIf="userType == 'student'; else elseBlock">
                  <span>Student Recommendations</span>
                </button>
                <ng-template #elseBlock>
                    <button mat-menu-item disabled (click)="goToPage('professor-classes')" >
                        <span>Professor Classes</span>
                    </button>
                </ng-template>
                <button mat-menu-item (click)="goToPage('home-page')">
                    <span>Helpful Resources</span>
                </button>
                <button mat-menu-item (click)="goToPage('settings')">
                  <span>Settings</span>
                </button>
              </mat-menu>
        </div>
    </mat-toolbar>
    <mat-toolbar-row class="welcome" *ngIf="authenticated">
        <p>Welcome, {{userType | titlecase}} {{userID}}</p>
    </mat-toolbar-row>
</header>
<main class="container">
    <router-outlet></router-outlet>
</main>
