  .main-nav{
    background-color: rgba(5, 5, 5, 0.856);
    -webkit-text-fill-color: white;
    justify-content: space-between;
    font-size: 30px;
  }
  .row{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    -webkit-text-fill-color: white;
}

.welcome{
  justify-content: center;
  margin-bottom: 5%;
  background-color: rgba(5, 5, 5, 0.856);
  -webkit-text-fill-color: white;
}

.hidden{
  display: none;
}