<div class="row">
    <img class="image" src="../assets/pictures/ai.jpg" alt="Artificial Intelligence">
    <mat-card>
        <h1>What is STEMAI?</h1>
        <mat-card-content class="letters">
            STEMAI is your new personal recommender. It sees what 
            classes you are struggling in and recommends you tutoring while you
            can still improve your grade. Our algorithm takes data from past 
            students in your class, sees how tutoring improved their grade, 
            and recommends tutoring for you. We work closely with the STEM 
            Center and your professors to provide you the help you need. Your 
            Professors will also be able to identify when you are struggling in 
            a class earlier in the course. When they see you struggling, 
            they can send you an email recommending you get tutoring. With the 
            help of STEMAI, everyone can identify early on when to get help and
            from that we can connect you with tutors. 
        </mat-card-content>
    </mat-card>
</div>

