<div class="row">
    <img class="image" src="../assets/pictures/ai.jpg" alt="Artificial Intelligence">
    <mat-card>
        <h1>What is STEMAI?</h1>
        <mat-card-content class="letters">
            STEMAI is your new personal recommender. It helps you see which classes 
            students benefit from getting tutoring from and links you to WCOnline so 
            you can connect with tutors. It also helps connect professors to students
            that are struggling before it's too late. Start using STEMAI today and take
            the guessing out of tutoring. 
        </mat-card-content>
    </mat-card>
</div>

