<mat-card class="card">
    <mat-card-title style="text-align: center; font-size: 30px; padding: 10px;">Settings</mat-card-title>
    <mat-divider></mat-divider>
    <mat-card-content>
      <div>
        <h3>Your Profile Info</h3>
        <mat-list role="list">
          <mat-list-item role="listitem">
            <h4>Name: {{this.currentUser.name}}</h4>
          </mat-list-item>
          <mat-list-item role="listitem">
            <h4>Gannon ID: {{this.currentUser.id}}</h4>
          </mat-list-item>
          <mat-list-item role="listitem">
            <h4>ID Number: {{this.currentUser.idNumber}}</h4>
          </mat-list-item>
        </mat-list>
      </div>
      <mat-divider></mat-divider>
        <div>
            <h3>Notification Settings</h3>
            <mat-list role="list">
                <mat-list-item role="listitem">
                    <mat-slide-toggle  [(ngModel)]="checked" (change)='setNotificationPreference($event)' checked="true">Notify when recommendations are updated</mat-slide-toggle>
                </mat-list-item>
            </mat-list>
        </div>
        <mat-divider></mat-divider>
        <div class="center">
            <button mat-raised-button class="but" (click)="openDialog()">Delete Account</button>
        </div>
    </mat-card-content>
</mat-card>
