.card{
    width: 90%;
    margin: auto;
    padding: 10px;
}

.button{
    width: 100px;
    height: 100px;
    background-color: lightgray;
}

.row{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 20px;
}

.input{
    padding-top: 20px;
    margin: auto; 
    width: 100%;
    height:30%;
}