    <mat-card class="card">
        <mat-divider></mat-divider>
        <mat-card-title class="center">Authenticate Account</mat-card-title>
        <mat-card-content class="description">You have signed up for an account but have not yet authenticated your gannon email. 
            Please go to your gannon email and enter the code sent there, or if you cannot find the email click 
            resend email to get a new code. 

            <mat-divider></mat-divider>
            <div>
                <form >
                    <mat-form-field class="input">
                        <mat-label>Code</mat-label>
                        <input matInput placeholder="123456" [(ngModel)]="authenticationCode" name="authenticationCodeField">
                    </mat-form-field>
                </form>
            </div>
            <mat-divider></mat-divider>
            <div class="row">
                <button mat-raised-button (click)="checkCode()" class="button" >
                    <p>Authenticate</p>
                </button>
                <button mat-raised-button (click)="resendCode()" class="button" >
                    <p>Resend Code</p>
                </button>
            </div>
            <mat-divider></mat-divider>
        </mat-card-content>
    </mat-card>
    