<div class="page">
    <h1 class="title">Contact Us</h1>
    <div>
        <div>
            <div class="row">
                <mat-card class="center">
                    <mat-card-header>Questions About Predictions?</mat-card-header>
                    <mat-card-content>Contact Julia Takagi: takagi002@gannon.edu</mat-card-content>
                    <mat-icon class="icon">mail</mat-icon>
                </mat-card>
                <mat-card class="center">
                    <mat-card-header>Questions About the User Interface?</mat-card-header>
                    <mat-card-content>Contact Nikoly Dos Santos: dossanto001@gannon.edu</mat-card-content>
                    <mat-icon class="icon">mail</mat-icon>
                </mat-card>
                <mat-card class="center">
                    <mat-card-header>Questions About Website Functionality?</mat-card-header>
                    <mat-card-content>Contact Jacob Rose: rose030@gannon.edu</mat-card-content>
                    <mat-icon class="icon">mail</mat-icon>
                </mat-card>
            </div>
        </div>
    </div>
</div>